<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>

.title{
	font-family: "Rammetto One";
	color: white; 
	font-size:2.3em;
	background-color:rgba(5,0,0,1);
	width: 100%;
	padding: 1em;
	z-index: 100;
}

.image_container{
	height: 20%;
	width: auto;
	padding: 2em;
}
.park_view{
	width: 100%;
	height: 100%;
	border: 2px solid rgba(230,230,230,1);
	border-radius: 2em 0em 2em 0em;
	filter: saturate(30%);
	opacity: .7;	
}

.weather_image{
	width: 70%;
	height: auto;
	opacity: .5;
}

.weather_image:hover{
	opacity:1;
}
.forecast{

	display:inline-block;
	border: 4px solid white;
	background-color:rgba(0,0,20,.8);
	width: 20%;
	margin-top: 10px;
	border-radius: 2em 0em 2em 0em;
	padding: 10px;	
}

.forecast:hover{
	transform: scale(1.4);
	transition: transform .2s;
}
.flex-container_forecast {
  display: flex;
  flex-wrap: nowrap;
  width:70%;
  margin:auto;
  
}

.park_view:hover{
	transform: scale(1.1);
	transition: transform .2s;
	filter: saturate(150%);
	
	opacity: 1;
}
.park{
	margin-left: 30%;
	display:inline-block;
	border: 4px solid white;
	background-color:rgba(0,0,20,.8);
	width: 45%;
	margin-top: 10px;
	border-radius: 2em 0em 2em 0em;
	padding: 10px;
}

.park_text{
	text-align: center;
	font-size: 1em;
}

body {
   background-image: url("/img/background.jpg");
   color: white;
   font-family: "Nunito";
 
}
.image_container{

}

.flex-container {
  display: flex;
  flex-direction: column;
  
}
.park_link:hover{
	
	text-shadow: 1px 1px;
	transition: .2s;
}
.underline{
	height: .6em;
	width: 30%;
	background-color: white;
	border-radius: 2px;
	margin: auto;
}
.underline_two{
	height: .4em;
	width: 20%;
	background-color: white;
	border-radius: 2px;
	margin: auto;
}
.underline_three{
	height: .2em;
	width: 20%;
	background-color: white;
	border-radius: 2px;
	margin: auto;
}

a:visited{
	text-decoration: none;
	color: white;
}
a:link{
	text-decoration: none;
	color: white;
}
li{
	display: inline;
	padding: 5px;
}
.header{
	z-index: 100;
	position: fixed;
}
.header_nav{
	font-size: 1em;
	font-family: "Nunito";
	background: rgba(0,0,0,1);
	color:white;
	width: 20%;
	padding: 10px;
	border: 2px solid white;
}

p{
	text-align:center;
	
}

.park_name{
	text-align:center;
}

.detail_container{
	width:70%;
	margin:auto;
	background-color:rgba(0,0,20,.85);
	border:3px solid white;
	border-radius:3em 0em 3em 0em;
	padding:3%;
	
}

.detail_image{
	border-radius:2em 0em 2em 0em;
	margin:auto;
	width:40%;
}
.image_class_detail{
	height:100%;
	width:100%;
	filter:blur(50px);
	filter:saturate(.5);
	border-radius:2em 0em 2em 0em;
	border:4px solid white;
	
}

.image_class_detail:hover{
	filter:saturate(1);
	transition:.5s;
	transform:scale(1.2);
}
.surveyForm{
	margin:auto;
}

.forecastHigh{
	text-align:left;
	padding:5px;
	
}

.forecastLow{
	
	content-align:right;
}

.quote{
	font-size: 1.2em;
}

.surveyContainer{
	border: 3px solid white;
	border-radius: 3em 0em 3em 0em;
	background-color: rgba(0,0,20,.80);
	width:45%;
	 margin:auto;
	 padding:15px;
	
}

.surveyContainer:div{
	margin:auto;
	margin-left:20%;
	padding:10px;
	
}

.favorite{
	margin-left:20%;
	padding:10px;
}
.bar{
	height: 50px;
	background-color: white;
	width: ${park.amountOfSurveys}px;
}
